---
import HamburgerMenu from "./HamburgerMenu.vue";
import { index } from "../../configs/site.json";

const navs = index.navs;
const currPathname = Astro.url.pathname;

const menuNavs = navs.map((nav) => {
    const href = nav.href;
    const subpath = decodeURI(currPathname).match(/[^\/]+/g);
    const isActive = href === currPathname || href === "/" + subpath?.[0];
    return {
        ...nav,
        isActive,
    };
});
---

<menu>
    <div class="nav-menu">
        {
            menuNavs.map((nav) => (
                <li>
                    {nav.children && nav.children.length > 0 ? (
                        <a
                            href={`${nav.href}${nav.children[0].href}`}
                            class:list={[{ active: nav.isActive }]}
                        >
                            {nav.text}
                        </a>
                    ) : (
                        <a
                            href={nav.href}
                            class:list={[{ active: nav.isActive }]}
                        >
                            {nav.text}
                        </a>
                    )}
                    <div
                        class="underline"
                        class:list={[{ active: nav.isActive }]}
                    />
                </li>
            ))
        }
    </div>
    <div class="burger-menu">
        <HamburgerMenu client:only="vue" />
    </div>
</menu>

<style lang="scss">
    menu {
        display: flex;
        align-items: center;

        li {
            list-style: none;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        padding: 0 2px;

        &.active {
            color: #7ca4a1;
        }
    }

    .underline {
        width: 0;
        height: 2px;
        border-radius: 4px;
        transition: all 0.8s ease-in-out;

        &.active {
            width: 100%;
            background-color: #7ca4a1;
        }
    }

    a:hover + .underline {
        width: 100%;
        background-color: black;
    }

    @media screen and (min-width: 640px) {
        .burger-menu {
            width: 0;
            display: none;
            visibility: hidden;
            opacity: 0;
        }

        .nav-menu {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    @media screen and (max-width: 640px) {
        .nav-menu {
            display: none;
            width: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
</style>
